In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('Sales.csv')
df.head()

   ProductID ProductCategory  Price  QuantitySold  Revenue
0        101     Electronics   1500             5     7500
1        102     Electronics   2000             3     6000
2        103       Furniture    500            10     5000
3        104        Clothing     50           100     5000
4        105     Electronics  10000             1    10000

In [11]:
from scipy import stats

In [26]:
z_scores = stats.zscore(df['Price'])
threshold = 2

In [27]:
outliers = df[(z_scores > threshold) | (z_scores < -threshold)]
print("\nIdentified Outliers:")
print(outliers)

Identified Outliers:
   ProductID ProductCategory  Price  QuantitySold  Revenue
4        105     Electronics  10000             1    10000

In [28]:
df_no = df[(z_scores < threshold) & (z_scores > -threshold)]
print(df_no)

   ProductID ProductCategory  Price  QuantitySold  Revenue
0        101     Electronics   1500             5     7500
1        102     Electronics   2000             3     6000
2        103       Furniture    500            10     5000
3        104        Clothing     50           100     5000
5        106        Clothing     20           200     4000
6        107       Furniture   1000             5     5000

In [29]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
scaler = MinMaxScaler()
df[['Price','Revenue']] = scaler.fit_transform(df[['Price','Revenue']])

In [31]:
print(df)

   ProductID ProductCategory     Price  QuantitySold   Revenue
0        101     Electronics  0.148297             5  0.583333
1        102     Electronics  0.198397             3  0.333333
2        103       Furniture  0.048096            10  0.166667
3        104        Clothing  0.003006           100  0.166667
4        105     Electronics  1.000000             1  1.000000
5        106        Clothing  0.000000           200  0.000000
6        107       Furniture  0.098196             5  0.166667